# Virtual Environment
venv/
.venv/
env/

# Dataset (too large for GitHub)
*.csv
Hotel_Reviews.csv

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Logs
*.log
